{#
  This is an example home page template. It inherits and extends a layout template
  that lives in the top-level views/ folder for convenience
#}

{% extends "layout.html" %}

{% block beforeMain %}
<div>
  <header>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        {% for page in data.home._children %}
          <li>
            <a href="{{ page._url }}">{{ page.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <main>
{% endblock %}

{% block main %}
  <section class="bp-welcome">
    <h1 class="bp-welcome__headline">
      Welcome to E-Commerce Platform
    </h1>
    
    {% area data.page, 'main' %}
    </div>
  </section>
{% endblock %}
